<div class="container">
    <h2>{{sidenavTitle}}</h2>
    <form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nom: <span class="required">*</span></label>
            <input id="title" type="text" formControlName="title" class="form-control" required>
            <div *ngIf="title.invalid && (title.dirty || title.touched)"
                class="alert alert-danger">
                <div *ngIf="title.errors.required">
                    Le nom est obligatoire.
                </div>
                <div *ngIf="title.errors.maxlength">
                    Le nom est trop long (255 caractères max)
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Decription: <span class="required">*</span></label>
            <textarea id="content" type="text" class="form-control" formControlName="content" required></textarea>
            <div *ngIf="content.invalid && (content.dirty || content.touched)"
                class="alert alert-danger">
                <div *ngIf="content.errors.required">
                    La description est obligatoire.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Latitude:</label>
            <input id="lat" type="number" class="form-control" formControlName="lat">
        </div>
        <div class="form-group">
            <label>Longitude:</label>
            <input id="long" type="number" class="form-control" formControlName="long">
        </div>
        <div class="form-group">
            <label>URL d'image:</label>
            <input id="image_url" type="text" class="form-control" formControlName="image_url">
            <div *ngIf="image_url.invalid && (image_url.dirty || image_url.touched)"
                class="alert alert-danger">
                <div *ngIf="image_url.errors.maxlength">
                    L'URL est trop longue (255 caractères max)
                </div>
            </div>
        </div>
        <img *ngIf="image_url && image_url.value !== ''" [src]="image_url.value" onError="this.src='assets/images/image-not-found.jpg'" style="width: 250px">
        <button mat-raised-button color="primary" type="submit" class="mt-2" id="save">Valider</button>
    </form>
</div>


